---
import experience from "@data/experienceData.ts";

import CaseIcon from "@icons/general/CaseIcon.astro";
import TimelineSection from "./TimelineSection.astro";
---

<section id="experience" class="py-20">
    <!-- Section title -->
    <div class="flex items-center gap-3">
        <CaseIcon class="w-8 h-8 text-gray-700 dark:text-gray-200"/>
        <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Experiencia</h2>
    </div>

    <!-- Section content -->
    <div class="mt-15">
        {experience.map((item) => (
            <TimelineSection
                startDate={item.startDate}
                endDate={item.endDate}
                position={item.position}
                company={item.company}
                tasks={item.tasks}
            />
        ))}
    </div>
</section>