---
import ContactLinks from "./ContactLinks.astro";
import ContactForm from "./ContactForm.astro";
import ContactInfo from "./ContactInfo.astro";

const { t } = Astro.props;
---

<section id="contact" class="py-10 md:py-20">
    <!-- Section title -->
    <div class="flex flex-col items-center">
        <span class="text-2xl md:text-3xl font-semibold text-gray-700 dark:text-gray-200">{t.contact.subtitle}</span>

        <h1 class="pb-2 text-4xl md:text-5xl font-bold bg-gradient-to-r from-sky-300 dark:from-purple-500 via-rose-300 dark:via-pink-500 to-amber-400 dark:to-pink-500 bg-clip-text text-transparent">{t.contact.title}</h1>

        <p class="mt-8 max-w-xl text-center text-gray-600 dark:text-gray-300">
            {t.contact.message}
        </p>
    </div>

    <!-- Section content -->
    <div class="flex flex-col md:flex-row justify-between gap-10 mt-12 md:mt-15">
        <div class="flex flex-col justify-between">
            <ContactLinks t={t} />
            <ContactInfo t={t} />
        </div>

        <div>
            <ContactForm t={t} />
        </div>
    </div>
</section>