---
import PinIcon from "@icons/general/PinIcon.astro";
import ClockIcon from "@icons/general/ClockIcon.astro";

const { t } = Astro.props;
---

<article class="hidden md:flex justify-between items-center gap-5 w-full">
    <div class="px-6 py-3 rounded-lg border border-gray-300 dark:border-neutral-700 bg-gray-100/30 dark:bg-neutral-900/30">
        <div class="flex items-center gap-4">
            <div class="p-2 rounded-lg bg-sky-500/10 dark:bg-purple-500/10">
                <PinIcon class="w-5 h-5 text-sky-300 dark:text-purple-400" />
            </div>

            <div class="flex flex-col">
                <h4 class="font-semibold bg-gradient-to-r from-sky-300 dark:from-purple-500 via-rose-300 dark:via-pink-500 to-amber-400 dark:to-pink-500 bg-clip-text text-transparent">{t.contact.locationTitle}</h4>
                <span class="text-gray-600 dark:text-gray-400">Almería, {t.contact.locationCountry}</span>
            </div>
        </div>

        <div class="mt-5">
            <p class="text-gray-700 dark:text-gray-500 mt-5">{t.contact.locationSubtext}</p>
        </div>
    </div>

    <div class="px-6 py-3 rounded-lg border border-gray-300 dark:border-neutral-700 bg-gray-100/30 dark:bg-neutral-900/30">
        <div class="flex items-center gap-4">
            <div class="p-2 rounded-lg bg-sky-500/10 dark:bg-purple-500/10">
                <ClockIcon class="w-5 h-5 text-sky-300 dark:text-purple-400" />
            </div>

            <div class="flex flex-col">
                <h4 class="font-semibold bg-gradient-to-r from-sky-300 dark:from-purple-500 via-rose-300 dark:via-pink-500 to-amber-400 dark:to-pink-500 bg-clip-text text-transparent">{t.contact.availabilityTitle}</h4>
                <span class="text-gray-600 dark:text-gray-400">{t.contact.availabilityHours}</span>
            </div>
        </div>

        <div class="mt-5">
            <p class="text-gray-700 dark:text-gray-500">{t.contact.availabilitySubtext}</p>
        </div>
    </div>
</article>
