---
import type { ProjectProps } from "../../../types/types.ts";

import GitHubIcon from "@icons/general/GitHubIcon.astro";
import ExternalLinkIcon from "@icons/general/ExternalLinkIcon.astro";

const { image, title, description, stack, sourceCode, preview, finished, reverse } = Astro.props as ProjectProps;
---

<article class=`flex ${reverse ? "flex-row-reverse" : ""} items-stretch gap-6`>
    <!-- Image section -->
    <div class="w-1/2 max-h-80 overflow-hidden rounded-lg">
        <img src={image} alt=`${title} thumbnail`
                class="w-full h-full object-cover rounded-lg"
        />
    </div>

    <!-- Content section -->
    <div class="flex flex-col justify-center w-1/2">
        {!finished && <span class="text-gray-300">🚧 En desarrollo... 🚧</span>}

        <h3 class="text-2xl font-semibold bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent">
            {title}
        </h3>

        <p class="mt-2 text-gray-300">
            {description}
        </p>

        <div class="flex items-center flex-wrap gap-2 my-6 max-w-lg">
            {stack.map((item) => (
                <span class="px-2.5 py-1 rounded-full bg-purple-500/10 font-medium text-xs text-purple-400">
                    {item}
                </span>
            ))}
        </div>

        <div class="flex items-center gap-4">
            <a href={sourceCode} aria-label="Go to the project code" target="_blank" rel="noopener noreferrer" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-neutral-700 hover:border-purple-500 hover:bg-purple-500/10 transition-color duration-200 ease-in-out">
                <GitHubIcon class="w-4 h-4 text-gray-200 group-hover:text-purple-400" />
                <span class="text-sm font-medium text-gray-200 group-hover:text-purple-400">Código Fuente</span>
            </a>

            <a href={preview} aria-label="Go to the project preview" target="_blank" rel="noopener noreferrer" class="flex items-center px-5 py-2.5 gap-2 rounded-md group border border-neutral-700 hover:border-purple-500 hover:bg-purple-500/10 transition-color duration-200 ease-in-out">
                <ExternalLinkIcon class="w-4 h-4 text-gray-200 group-hover:text-purple-400" />
                <span class="text-sm font-medium text-gray-200 group-hover:text-purple-400">Vista Previa</span>
            </a>
        </div>
    </div>
</article>